# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & dependencies
.env
.venv
env/
venv/
ENV/

# Testing & caches
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
